@charset "UTF-8";

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#ticket_y_mapa {
	display: flex;
	flex-direction: column;
}

#ticket {
	width: 100vw;
	height: 25vh;
}

#mapa {
	width: 100vw;
	height: 75vh;
}

/** {
	border: 1px solid;
}*/