@charset "UTF-8";

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #F6D8CE;
}

#mapa_y_tickets {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	flex-direction: row;

	padding-top: 6vh;
}

#mapa {
	width: 60vw;
	height: 80vh;
}

#tickets {
	width: 20%;
	height: 50vh;
	position: fixed top: 0;
}

#navbar {
	display: flex;
	justify-content: flex-end;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3hv;
}


.form {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

input[type=submit] {
	background-color: black;
	border: none;
	color: white;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 40px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
	background-color: green;
}

button {
	background-color: black;
	border: none;
	color: white;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 40px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

button:hover {
	background-color: green;
}

/** {
	border: 1px solid;
}*/
#actualizacion {
	border: 1px solid;
	border-radius: 3px;
}

#actualizacion img {
	height: 15%;
	width: 15%;
}